* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans", sans-serif
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #E4EEF1;
    background-color: #FF69B4;
    height: 15vh;
}

section {
    display: flex;
    align-items: center;
    
}
nav {
    width: 40%;
}
    .imgClass1 {
        height:100px;
        width: 100px ;


    }



ul {
    display:flex;
    justify-content: space-around;
    
}
 
a {
        color: #E4EEF1;  
        font-size: 15px;
     
         }

         main{
            .sessaoAlerta {
                // vh - viewport height
                height: 50vh;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background-color: #FFD9EC;
                p {
                    width: 40%;
                    font-size: 20px;
                color : black
                    }
                img {
                    width: 19.010416666666668vw;
                }
              }
              .sessaoCorrida {
                padding: 20 rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 35vh;
                background-color: #FF69B4;
             }
             p {
                width: 50%;
                font-size: 20px;
                color: #E4EEF1;
            }
            .imgclass2 {
                width: 380px;
                left:-200px;


            }
            
            .fotos {
                background: #FFD9EC;
                padding: 75px;
                justify-content: space-between;
                

                .imga {
                    width: 200px; 
                    height: 200px;
                }
                .imgb{
                    width: 200px;
                }
                .imgc {
                   width: 200px; 
                }
                  .imgd {
                        display: flex ;
                        width: 200px;
                  }
                
                }
            }
           footer {
              height: 50%;
              background-color: #FF69B4; 
              display: flex;
              justify-content: space-evenly;
            flex-direction: row;
            align-items: center;
           .fotoe {
                 width: 55px;
                 height:55px ;
           }
           .fotog {
                  width: 55 px; 
                  height: 55px;
           }
           .fotoh {
                 width: 55px ;
                height: 55px;
           }
           
            ul {
                color: #E4EEF1;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }
            .laço{
                width: 105px;
                height: 109px;
            }


                   }
         
        
    


    
           
           
        
        
        
        
        
        
      


    

